.featuredRecipeCard {
    padding-bottom: 2em;
    font-family: monospace;
}

.title {
    font-weight: bold;
}
.ing-level-time-info {
    padding-top: 2em;
}
.level {
    padding-bottom: 0.5em;
    text-align: left;
}
.ptime {
    padding-bottom: 0.5em;
    text-align: left;
}
.ctime {
    padding-bottom: 0.5em;
    text-align: left;
}
.ingredients {
    text-align: left;
}
.ing-list {
    padding-top: 1em;
}
.method {
    text-align: left;
    padding-top: 2em;
}
.mth-list {
    padding-top: 1em;
}
.food-image {
    padding-top: 2em;
}
